<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.getFio() + ', '+ person.getDate()}">VALUE</p>

<p th:if="${#lists.isEmpty(books)}">Человек не взял ни одной книги</p>

<div th:if="${not #lists.isEmpty(books)}">
    <hr/>
    <p><b>Книги:</b></p>
    <span th:each="book : ${books}">
        <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
    </span>
</div>

<br/>
<hr/>
<form th:method="GET" th:action="@{/people/{id}/update(id=${person.getIdPerson()})}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getIdPerson()})}">
    <input type="submit" value="Удалить">
</form>


</body>
</html>